:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-xl);
  cursor: url("../../assets/icons/cursor-normal.svg"), default;
}

.header-container,
.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
}

.btn {
  display: block;
  padding: 14px 44px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  font-family: Georgia, serif;
  border-radius: 30px;
  color: var(--color-dark-3xl);
  max-width: max-content;
  max-height: 52px;
  transition: 0.3s;
}

.btn-beige {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-white {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn:hover,
.btn-arrow:hover {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.btn-arrow {
  background-image: url("../../assets/icons/Arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 14px;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  align-self: center;
}

.arrow-right {
  transform: rotate(-180deg);
}

.header-container {
  padding: 0 40px;
  height: 908px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.header-container {
  height: 908px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px 60px;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.logo-title {
  font-size: 32px;
  line-height: 35px;
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  font-weight: 400;
}

.logo-subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
}

.header .page-nav ul {
  display: flex;
  flex-direction: row;
  gap: 35.2px;
}

.page-nav ul li {
  transition: 0.3s;
}

.page-nav a {
  color: var(--color-dark-s);
  transition: 0.3s;
}

.page-nav ul li:active {
  border-bottom: 3px solid var(--color-primary);
}

.page-nav ul li:active a {
  color: var(--color-light-s);
}

.active-link {
  border-bottom: 3px solid var(--color-primary);
}

.active-link a {
  color: var(--color-light-s);
}

.not-only {
  display: flex;
  gap: 42px;
}

.not-only .text p {
  margin: 42px 0;
  columns: var(--color-dark-s);
}

.not-only .text {
  width: 460px;
  padding: 163px 0 243px;
}

.not-only-title {
  font-size: 44px;
  line-height: 57px;
  width: 310px;
  color: #fff;
  font-weight: 400;
  letter-spacing: normal;
}

.not-only .text p {
  margin: 42px 0;
  color: var(--color-dark-s);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 80px 0 100px;
}

.about figure {
  width: 300px;
  height: 408px;
}

.about .text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

.about-title {
  max-width: 370px;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: var(--color-light-l);
  padding: 80px 40px 100px;
}

.friends article:hover {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
}

.friends article:hover .btn {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.friends-title {
  max-width: 400px;
  text-align: center;
  height: max-content;
}

.pet-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.friends article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  background-color: var(--color-light-s);
}

.slider {
  display: flex;
  gap: 53px;
}

.pet-cards {
  display: flex;
  gap: 90px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  padding: 80px 87px 100px;
}

.help-title {
  max-width: 310px;
  text-align: center;
}

.help-items {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  row-gap: 55px;
  max-width: 1030px;
  justify-content: center;
}

.help-items article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.help-items article img {
  width: 60px;
  height: 60px;
}

.help-items article h3 {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: 400;
  width: max-content;
}

.donation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0px 100px;
  background-color: var(--color-light-l);
}
.donation figure {
  height: 261px;
}
.donation figure img {
  height: 100%;
}

.donation .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
}

.donation .info .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
  line-height: 17px;
}

.donation .card-num {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 10px;
  width: max-content;
}
.card-num a {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.card-num img {
  width: 30px;
}

.donation .legal {
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: var(--color-dark-m);
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 160px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 40px;
  padding-bottom: 0px;
}

.footer a {
  color: var(--color-primary);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.footer .contact,
.footer .location {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.footer .location {
  gap: 33px;
  max-width: 302px;
}

.footer h2 {
  color: var(--color-light-xl);
}

.footer .contact {
  max-width: 280px;
}

.email,
.phone,
.address {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1279px) {
  .header-container {
    padding: 0 30px;
    height: 1165px;
  }

  .header {
    padding: 30px 0 60px;
  }

  .not-only {
    flex-direction: column;
    gap: 0;
  }

  .not-only .text {
    width: 460px;
    padding: 0 0 100px;
    align-self: center;
  }

  .not-only .text .btn {
    margin: 0 auto;
  }

  .not-only figure {
    margin-left: 100px;
    max-width: 569px;
    align-self: flex-end;
  }

  .not-only figure img {
    width: 100%;
  }

  .about {
    flex-direction: column;
    padding: 80px 165px 100px 166px;
    gap: 80px;
  }

  .about .text {
    order: -1;
  }

  .friends {
    padding: 80px 30px 100px;
  }

  .slider .hidden {
    display: none;
  }

  .pet-cards,
  .slider {
    gap: initial;
  }

  .pet-cards {
    margin: 0 12px;
  }

  .pet-cards .first {
    margin-right: 40px;
  }

  .help {
    padding: 80px 69px 100px;
  }
  .help-items {
    gap: 55px 60px;
    justify-content: space-between;
  }

  .help-items article {
    width: 169px;
  }

  .donation {
    flex-direction: column;
    padding: 80px 132px 100px 131px;
    gap: 60px;
  }

  .donation .info {
    order: -1;
  }

  .footer {
    flex-wrap: wrap;
    padding: 30px 63px 0;
    gap: 59px;
    justify-content: center;
  }

  .footer .contact,
  .footer .location {
    padding-top: 0;
  }
}
