@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@keyframes slidein {
  from {
    right: -320px;
  }
  to {
    right: 0;
  }
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --slider-width-1280: 990px;
  --slider-width-768: 580px;
  --slider-width-320: 270px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-xl);
  cursor: url("../../assets/icons/cursor-normal.svg"), default;
}

.header-container,
.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
}

.btn {
  display: block;
  padding: 14px 44px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  font-family: Georgia, serif;
  border-radius: 30px;
  color: var(--color-dark-3xl);
  max-width: max-content;
  max-height: 52px;
  transition: 0.3s;
}

.btn-beige {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-white {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn:hover,
.btn-arrow:hover {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.btn-arrow {
  background-image: url("../../assets/icons/Arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 14px;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  align-self: center;
}

.arrow-right {
  transform: rotate(-180deg);
}

.header-container {
  padding: 0 40px;
  height: 908px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.header-container {
  height: 908px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px 60px;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.logo-title {
  font-size: 32px;
  line-height: 35px;
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  font-weight: 400;
}

.logo-subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
}

.header .page-nav ul {
  display: flex;
  flex-direction: row;
  gap: 35.2px;
}

.burger-closed,
.burger-header {
  display: none;
}

.page-nav ul li {
  transition: 0.3s;
}

.page-nav a {
  color: var(--color-dark-s);
  transition: 0.3s;
}

.page-nav a:hover {
  color: var(--color-light-s);
}

.page-nav ul li:active {
  border-bottom: 3px solid var(--color-primary);
}

.page-nav ul li:active a {
  color: var(--color-light-s);
}

.active-link {
  border-bottom: 3px solid var(--color-primary);
}

.active-link a {
  color: var(--color-light-s);
}

.active-link:hover,
.active-link a:hover {
  cursor: url("../../assets/icons/cursor-normal.svg"), default;
}

.burger-header-container {
  display: none;
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}

.burger-header {
  flex-wrap: wrap;
  row-gap: 158px;
  column-gap: 44px;
  width: 320px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-dark-3xl);
  padding: 30px 10px;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.burger-header .page-nav {
  width: 100%;
}

.burger-header .page-nav .nav-list {
  flex-direction: column;
  align-items: center;
}

.burger-header .logo {
  max-width: max-content;
}

.burger-opened {
  max-width: max-content;
}

.not-only {
  display: flex;
  gap: 42px;
}

.not-only .text p {
  margin: 42px 0;
  columns: var(--color-dark-s);
}

.not-only .text {
  max-width: 460px;
  padding: 163px 0 243px;
}

.not-only-title {
  font-size: 44px;
  line-height: 57px;
  max-width: 310px;
  color: #fff;
  font-weight: 400;
  letter-spacing: normal;
}

.not-only .text p {
  margin: 42px 0;
  color: var(--color-dark-s);
}

.not-only figure img {
  display: block;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 80px 0 100px;
}

.about figure {
  max-width: 300px;
  height: 408px;
}

.about figure img {
  width: 100%;
}

.about .text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

.about-title {
  max-width: 370px;
}

.friends {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: var(--color-light-l);
  padding: 80px 40px 100px;
}

.friends article {
  background-color: var(--color-light-s);
  border-radius: 10px;
}

.friends article:hover {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.friends article:hover .btn {
  cursor: url("../../assets/icons/cursor-hover.svg"), pointer;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.friends-title {
  max-width: 400px;
  text-align: center;
  height: max-content;
}

.pet-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.friends article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  background-color: var(--color-light-s);
}

.slider {
  display: flex;
  gap: 53px;
}

@keyframes move-right {
  from {
    left: -989px;
  }
  to {
    left: -1978px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}

@keyframes move-left {
  from {
    left: -989px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.carousel-wrapper {
  width: var(--slider-width-1280);
  overflow: hidden;
  height: 435px;
}

.pet-cards-wrapper {
  display: flex;
  position: relative;
  left: -989px;
}

.pet-cards,
.pet-cards-left,
.pet-cards-right {
  display: flex;
  gap: 90px;
  max-height: 435px;
  max-width: 99.9%;
  margin: 0 auto;
}

.popup {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}

.popup .btn-arrow {
  align-self: flex-end;
  background-image: url("../../assets/icons/cross.svg");
  position: absolute;

  top: -52px;
  right: -52px;
  margin: auto;
}

.popup .pet {
  display: flex;
  background-color: white;
  border-radius: 20px;

  position: absolute;
  width: 50%;
  max-height: max-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .pet-img {
  align-self: center;
  height: 100%;
}

.popup .pet-img img {
  max-width: 360px;
}

.popup .pet-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.type-breed {
  font-size: 20px;
  line-height: 23px;
}

.qualities li::before {
  content: url("../../assets/icons/dot.svg");
  width: 5px;
  height: 5px;
  margin-right: 5px;
}

.popup .qualities .title {
  font-weight: 700;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  padding: 80px 87px 100px;
}

.help-title {
  max-width: 310px;
  text-align: center;
}

.help-items {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  row-gap: 55px;
  max-width: 1030px;
  justify-content: center;
}

.help-items article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.help-items article img {
  max-width: 60px;
  max-height: 60px;
}

.help-items article h3 {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: 400;
  max-width: max-content;
}

.donation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0px 100px;
  background-color: var(--color-light-l);
}
.donation figure {
  height: 261px;
}
.donation figure img {
  height: 100%;
}

.donation .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}

.donation .info .text {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
  line-height: 17px;
}

.card-num {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 10px;
  max-width: max-content;
}
.card-num span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.card-num img {
  max-width: 30px;
}

.donation .legal {
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: var(--color-dark-m);
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 160px;
  background: url(../../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 40px;
  padding-bottom: 0px;
}

.footer a {
  color: var(--color-primary);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.footer .contact,
.footer .location {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.footer .location {
  gap: 33px;
  max-width: 302px;
}

.footer h2 {
  color: var(--color-light-xl);
}

.footer .contact {
  max-width: 280px;
}

.email,
.phone,
.address {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer figure img {
  display: block;
  width: 100%;
}

@media (max-width: 1279.9px) {
  .header-container {
    padding: 0 30px;
    height: 1165px;
  }

  .header {
    padding: 30px 0 60px;
  }

  .not-only {
    flex-direction: column;
    gap: 0;
  }

  .not-only .text {
    max-width: 460px;
    padding: 0 0 100px;
    align-self: center;
  }

  .not-only .text .btn {
    margin: 0 auto;
  }

  .not-only figure {
    margin-left: 100px;
    max-width: 569px;
    align-self: flex-end;
  }

  .about {
    flex-direction: column;
    padding: 80px 165px 100px 166px;
    gap: 80px;
  }

  .about .text {
    order: -1;
  }

  .friends {
    padding: 80px 30px 100px;
  }

  .slider .hidden {
    display: none;
  }

  .slider {
    max-width: 100%;
    gap: 12px;
  }

  .carousel-wrapper {
    max-width: 580px;
  }

  @keyframes move-right {
    from {
      left: -579px;
    }
    to {
      left: -1158px;
    }
  }

  @keyframes move-left {
    from {
      left: -579px;
    }
    to {
      left: 0px;
    }
  }

  .pet-cards-wrapper {
    left: -579px;
  }

  .pet-cards,
  .pet-cards-left,
  .pet-cards-right {
    gap: 40px;
  }

  .help {
    padding: 80px 69px 100px;
  }
  .help-items {
    gap: 55px 60px;
    justify-content: space-between;
    max-width: 850px;
  }

  .help-items article {
    width: 169px;
  }

  .donation {
    flex-direction: column;
    padding: 80px 132px 100px 131px;
    gap: 60px;
  }

  .donation .info {
    order: -1;
  }

  .footer {
    flex-wrap: wrap;
    padding: 30px 63px 0;
    gap: 59px;
    justify-content: center;
  }

  .footer .contact,
  .footer .location {
    padding-top: 0;
  }

  .footer figure {
    margin: 0 50px;
  }
}
@media (min-width: 642px) and (max-width: 767.9px) {
  .contact,
  .location {
    text-align: center;
    align-items: center;
    margin: 0 50px;
  }
}

@media (max-width: 767.9px) {
  h2,
  .not-only-title {
    font-size: 25px;
    line-height: 32px;
  }

  .header-container {
    padding: 0;
    height: max-content;
    max-height: 823px;
  }

  .header {
    padding: 30px 53px 0 10px;
  }

  header > nav.page-nav {
    display: none;
  }

  .burger-closed {
    display: block;
    max-width: 30px;
    max-height: 22px;
  }

  .not-only {
    padding: 60px 10px 0px;
  }

  .not-only .text {
    padding-bottom: 105px;
    text-align: center;
  }

  .not-only-title {
    max-width: 200px;
    margin: 0 auto;
    letter-spacing: 0.06em;
  }

  .not-only figure {
    margin-left: 40px;
    max-width: 260px;
  }

  .about {
    padding: 42px 25px;
    gap: 42px;
  }

  .about figure {
    max-width: 260px;
    max-height: 353px;
  }

  .about-title {
    text-align: center;
  }

  .about .text p {
    text-align: justify;
  }

  .friends {
    padding: 42px 10px;
    gap: 42px;
  }

  .slider {
    max-width: 270px;
    row-gap: 20px;
    column-gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .carousel-wrapper {
    order: -1;
    max-width: 270px;
  }

  @keyframes move-right {
    from {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }

  @keyframes move-left {
    from {
      left: -270px;
    }
    to {
      left: 0px;
    }
  }

  .pet-cards-wrapper {
    left: -270px;
  }

  .pet-cards article {
    margin: 0;
  }

  .popup .pet-img {
    display: none;
  }

  .help {
    padding: 42px 15px;
    gap: 42px;
  }

  .help-title {
    max-width: 225px;
  }

  .help-items {
    max-width: 446px;
    gap: 30px;
  }

  .help-items article {
    width: 130px;
    gap: 20px;
  }

  .help-items article img {
    max-width: 50px;
    max-height: 50px;
  }

  .help-items article h3 {
    font-size: 15px;
    line-height: 16.5px;
  }

  .donation {
    padding: 42px 10px;
    gap: 42px;
  }

  .donation .info {
    align-items: center;
    gap: 20px;
  }

  .donation img {
    max-width: 260px;
  }

  .card-num span {
    font-size: 15px;
    line-height: 16.5px;
  }
  .donation .donation-title {
    text-align: center;
  }

  .donation .info .text {
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
  }

  .donation .info p {
    max-width: 280px;
    text-align: justify;
  }

  .footer {
    padding: 30px 10px 0px;
    gap: 40px;
  }

  .contact,
  .location {
    text-align: center;
    align-items: center;
  }

  .contact a {
    justify-content: center;
  }

  .location a {
    justify-content: flex-start;
    gap: 19px;
    text-align: left;
    align-self: flex-start;
  }

  .footer .location {
    gap: 40px;
  }

  .footer figure {
    max-width: 260px;
    justify-self: center;
  }

  .location h2 {
    max-width: 270px;
  }
}
