@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    line-height: 1.5rem;
}

body {
    font-family: 'Mingzat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #13315c;
    max-width: 90%;
    margin: 0 auto;
    padding: 2%;
    letter-spacing: 4px;
    box-shadow: rgba(11, 38, 70, 0.4) 0px 5px, rgba(19, 49, 92, 0.3) 0px 10px, rgba(19, 64, 116, 0.2) 0px 15px, rgba(141, 169, 196,0.3) 0px 20px, rgba(141, 169, 196, 0.1) 0px 25px;

    @media (max-width: 620px) {
            flex-direction: column;
    }

    .logo {
        display: flex;
        gap: 20px;
        align-items: center;
        text-transform: uppercase;

        img {
           max-height: 100px;
         }

         h1 {
            line-height: 2.5rem;

            @media (max-width: 750px) {
                font-size: 1.5rem;
                line-height: 2rem;
            }

         }
    }
    
}

main {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 3% auto 0;
    min-height: 68vh;
    padding: 2%;
}



footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 90%;
    height: 100px;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #13315c;
    color: #e5e5e5;
    max-width: 90%;
    padding: 1%;

    a {
        text-decoration: none;
        font-size: 1.2rem;
        color:#e5e5e5 ;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        justify-content: center;
    }
}
