.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    height: 100px;
    font-size: 1rem;
    background-color: #52796f;
    color: #f0ead2;

    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #f0ead2;
        translate: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .school-link__img {
        min-height: 70px;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        justify-content: center;
    }
}
