.winners {
    table {
        width: 60%;
        margin: 20px auto;
        font-size: 1.5rem;

        td {
            border-bottom: 2px solid #3f7f5f;
        }
    }
}

.table-header {
    text-align: center;
}
