button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.btn--header {
    background-color: #3a5a40;
    color: #f0ead2;
}

.update-form button {
    background-color: #a3b18a;
    border:1px solid #3a5a40
}

.update-form__buttons button {
    background-color: #344e41;
    color: #f0ead2;
}
