.popup__item {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 2%;
    width: max-content;

    @media (max-width: 750px) {
           flex-direction: column;
           max-height: 100vh;
        }
}

.popup__item-img {
    max-width: 50%;
    @media (max-width: 750px) {
        max-width: 80%;
    }
}
.popup__item-description {
    position: relative;
    background-color: #fff;
    min-width: 30%;
    padding: 2%;

    @media (max-width: 750px) {
        width: 90%;
    }
    
}

.popup__item-title {
    font-size: 2rem;
}

.popup__item-header {
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

.popup__item-price {
    font-weight: 700;
    font-size: larger;
}

.btn-cross {
    align-self: flex-end;
    background: none;
    background-image: url("../../../assets/svg/remove.svg");
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    height: 52px;
    width: 52px;
    top: -3%;
    right: -10%;
    margin: auto;

    &:hover {
        cursor: pointer;
    }
}
